<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/design.css">
</head>

<body>
    <h1 id="searchHeading">Search Result<span > >></span><%= searchQuery.toUpperCase() %></h1>

    <% data["results"].forEach((movie)=>{ %>

    <div class="card mb-5 w-75">
        <div class="row no-glutters">
            <div class="col md-4">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2 <%= movie["poster_path"] %>" class="card-img img-fluid" alt="" >
                <
            </div>
            <div class="col md-8">
                <div class="card-body">
                    <h2 class="card-title"><%= movie["original_titl"] %></h2>
                    <hr>
                    <p class="card-text"> <%= movie["overview"] %></p>
                    <hr>
                    <br>
                    <p class="card-text"><b>Date Published:</b> <%= movie["release_date"] %></p>
                    <p class="card-text"><b>Total Votes:</b> %= movie["vote_count"] %></p>
                    <p class="card-text"><b>Average Rating:</b> <%= movie["popularity"] %></p>
                </div>

            </div>
        </div>

    </div>

    <% }) %>

</body>

</html>